<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Web File Transfer</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    </head>

    <body>
        <div id="main-container">

            <h1 id="title">Web File Transfer</h1>

            <div id="file-container">
            {% for name, size in files %}
            
                {% if loop.index % 2 == 0 %}
                    <a href="/data/{{name}}" class="file-a-1" download>
                        <span class="file-name">{{ name }}</span>
                        <span class="file-desc">{{ size }}</span>
                        <!-- <span class="file-desc">21:56:14 - 29.11.2024</span> -->
                    </a>
                {% else %}
                    <a href="/data/{{name}}" class="file-a-2" download>
                        <span class="file-name">{{ name }}</span>
                        <span class="file-desc">{{ size }}</span>
                        <!-- <span class="file-desc">21:56:14 - 29.11.2024</span> -->
                    </a>
                {% endif %}
            
            {% endfor %} 

            </div>
               

            <button id="upload-button">
                UPLOAD FILES
            </button>

            <form id="upload-form" action="#" method="post" enctype="multipart/form-data" style="display: none;">
                <input type="file" id="files" name="files[]" multiple>
                <!-- <input type="file" id="files" name="files[]"> -->
                <button type="submit">Загрузить</button>
            </form>

        </div>

        
    </body>

   

    <script>
        const uploadBtn = document.getElementById('upload-button');
        const fileInput = document.getElementById('files');

        uploadBtn.addEventListener('click', () => {
            fileInput.click(); // Открыть окно выбора файлов
        });

        fileInput.addEventListener('change', () => {
            // Автоматическая отправка формы после выбора файлов
            document.getElementById('upload-form').submit();
        });
    </script>

    <script>
            var files = document.getElementsByClassName("file-name");
            for( var i = 0; i < files.length; i++)
            {
                // if( files[i].innerHTML.length >=  35)
                // {
                //     var parser = files[i].innerHTML.split(".");
                //     parser[0] = parser[0].substr(0, 32) + "..";
                //     files[i].innerHTML = parser.join(".");
                // }
                if( files[i].innerHTML.length >=  55)
                {
                    var parser = files[i].innerHTML.split(".");
                    part_1 = parser[0].substr(0, 8);
                    part_2 = parser[0].substr(files[i].innerHTML.length - 10);
                    parser[0] = part_1 + "..." + part_2;

                    files[i].innerHTML = parser.join(".");
                }
            }

    </script>

</html>