<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>WebDataTransfer</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    </head>

    <body>
        <div id="main-container">

            <h1 id="title">Web Data Transfer</h1>

            <div id="file-container">
                <a href="" class="file-a-1">
                    <span class="file-name">image1.jpg</span>
                    <span class="file-desc">21:56:14 - 29.11.2024</span>
                </a>
                <a href="" class="file-a-2">
                    <span class="file-name">видео1.jpg</span>
                    <span class="file-desc">21:56:14 - 29.11.2024</span>
                </a>
                <a href="" class="file-a-1">
                    <span class="file-name">image1.jpg</span>
                    <span class="file-desc">21:56:14 - 29.11.2024</span>
                </a>
                <a href="" class="file-a-2">
                    <span class="file-name">AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA.mv4</span>
                    <span class="file-desc">21:56:14 - 29.11.2024</span>
                </a>
               
            </div>

            <button id="upload-button">
                UPLOAD FILES
            </button>

            <form id="upload-form" action="#" method="post" enctype="multipart/form-data" style="display: none;">
                <input type="file" id="files" name="files[]" multiple>
                <button type="submit">Загрузить</button>
            </form>

        </div>

        
    </body>

   

    <script>
        const uploadBtn = document.getElementById('upload-button');
        const fileInput = document.getElementById('files');

        uploadBtn.addEventListener('click', () => {
            fileInput.click(); // Открыть окно выбора файлов
        });

        fileInput.addEventListener('change', () => {
            // Автоматическая отправка формы после выбора файлов
            document.getElementById('upload-form').submit();
        });
    </script>

    <script>
            var files = document.getElementsByClassName("file-name");
            for( var i = 0; i < files.length; i++)
            {
                if( files[i].innerHTML.length >=  30)
                {
                    var parser = files[i].innerHTML.split(".");
                    parser[0] = parser[0].substr(0, 27) + "___";
                    files[i].innerHTML = parser.join(".");
                }
            }

    </script>

</html>